#itembox{
    width: 300px;
    height: 150px;
    border: 1px solid black;
    text-align: center;
}
.title{
    text-align: center;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}
#loanButton{    
    width: 200px;
}
.hide{
    display: none;
}
#itemboxComputerInfo{
    width: 300px;
    height:fit-content;
    border: 1px solid black;
    text-align: center

}
#specs{
    font-size: medium;
}
#computerSelectionList{
    text-align: left;
}
#itemboxComputerInfoWithImg{
    float:right;
    width: 1000px;
    height: 200px;
    border: 1 px solid black;
}
#image{
    float:right;
    width: 20%;
    height:max-content;
    border: 1 px solid black;
}
#infoSection{
    float:right;
    width: 20%;
    height:max-content;
    border: 1 px solid black;
}
#buySection{
    float:right;
    width: 20%;
    height:max-content;
    border: 1 px solid black;
}